.container{
    width: 90%;
    /* height: 100vh; */
    margin:80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .product{
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: 1px 1px 1px 1px lightgray;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-evenly;

        }
        a,button{
            /* border: 5px solid navy; */
            padding: 7px;
            font-size: 16px;
            text-decoration: none;
            background-color:navy ;
            color: gold;
            border: none;
        }
    }
}