form{
    margin-top:80px ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    input,button,textarea{
        width: 400px;
        padding: 20px;
        font-size: 32px;
    }
}